//
   Created by levy on 16/3/19.
extends layout
block article
  article.container.about
    section
      h2 宗旨
      p 为青年人定制专属于自己的个性旅游
      h2 理念
      p
        | 不漏过任何细节，以青春的视角，热忱的服务，专属的定制，满足大学生看世界的愿望，“世界那么大，把你的旅行交给我，我带你看看”。
      h2 特色
      p
        | 我们主张S.Y.T.(See young thing)，迎合年轻人的青春时尚，个性追求的需要。我们为您提供的方案服务，线路风格多样，具有灵活性大、自主性强、个性化、安心舒适等特点。
        | 我们搜集整合各个地区的旅游资源资料，为您提供可自主搭配的旅游策划，包括食宿安排，特色游玩推荐，路线选择等，并且还可包有私人导游，私人摄像等服务以及搭配驴友，联谊组团，提供创意告白求婚等方案项目服务。
      h2 联系我们
      p 关注微信公众号“极乐and极致”，或者发送邮件到 jizhizhili@sina.com 联系我们，我们会及时主动跟您沟通，为您定制您的极致专属之旅。

