//
   Created by levy on 16/3/20.
extends layout
block article
   article.container#article
     section.diary#cz
       pre
         h3 潮州一日游玩乐计划
         img(src="../images/plain/cz-1.png")
         span.text 潮州是位于广东东部沿海的一个国家历史文化古城，是潮汕文化的重要发源地，享有“岭海名邦”、“华侨之乡”、“中国民族民间艺术之乡”等美誉。建议您花一天时间将潮州这座岭南名城的众多古迹好好游览一番，边走边品尝美味的潮州小吃，感受潮汕文化的魅力所在。
         span.text 潮州的特色美食小吃种类繁多，光是带有“粿”字的小吃就有好几十种，到潮州旅行，不仅可以玩得尽兴，还能吃得开心，吃个不停。并且潮州这个旅游城市最大的方便就是经典景点分布集中，步行或者坐公交车，当地的特色三轮车十几分钟就可以到达。
         span.text 路线安排：滨江长廊——广济桥——韩文公祠——牌坊街——开元寺——西湖公园
         span.text 上午：滨江长廊——广济桥——韩文公祠
         img.even(src="../images/plain/cz-2.png")
         span.text 交通：搭市内公交车1、3、8、9、10、12、13路线在南桥市场下车，然后往韩江大桥方向走4、5分钟就到了滨江长廊。一直沿着江边走，可以看到广济桥（亦做“湘子桥”），这条用24艘木船连接的开关活动式桥。
         img.odd(src="../images/plain/cz-3.png")
         span.text 广济桥开放时间：
         span.text 周一到周五10：00-17:30（17:00停止售票），
         span.text 周六、周日及节假日9:00-17:30（17:00停止售票）如果遇到特殊航运期，具体开放时间请以景区通告为准
         span.text 门票：成人价50元，学生证享受半折优惠，当地居民出示身份证只要10元 广济桥对面就是广济楼，可以在进桥前先参观一下广济楼。从湘子桥的一边走到另一边出口，往左走4、5分钟就到了韩文公祠。
         img(src="../images/plain/cz-4.png")
         span.text 韩文公祠开放时间：8:00-18:00
         span.text 票价：10元，学生票5元
         span.text 游览完韩文公祠临近中午，在韩文公祠前马路对面的公交车站等10路公交车，（大概15-20分钟一班），到南桥市场下车。
         span.text 中午下午：牌坊街——开元寺——西湖公园
         span.text 南桥市场一下车，就是牌坊街。
         img(src="../images/plain/cz-5.png")
         spna.text 走到一个十字路口，看到左边一片红色围墙，就是广东四大名寺之一，开元寺，不需要门票。
         img(src="../images/plain/cz-6.png")
         span.text 从开元寺出来后可能已经临近傍晚，叫一辆三轮车，搭载到西湖公园附近的“镇记牛杂”就餐。（这家店的牛杂粿条汤蛮正宗，用料足。到的时候就直接在窗口那边领一块号码牌，找个位置坐下等着叫号，叫到号了才去点餐。因为很有名，在热闹旅游时期等上十几二十个号是常事，所以要去吃请注意饭点时间。）
         span.text 饭后就可以在西湖边走走，然后搭公交车或者三轮车回去。
         span.text 美食推荐：
         span.text 在牌坊街开头左边有一家甘草水果，往里走一点有一家卖潮式肠粉的店，牛肉肠粉不错吃，一份大概12元。牌坊街一路上有许多吃吃玩玩的店，小吃摊位。要找正宗好吃的胡荣泉，要往里走，整条长长的牌坊街一共有三家，第一家一般只卖饼，第二家小，卖鸭母捻、春卷等小吃，第三家正宗，都有卖。感兴趣可以都尝尝，各有滋味，但是第三家很靠后，走很久，不过这家旁边有一家卖笋粿的店也不错吃。
         span.text 其它美食如咸水粿、肠粉、粿汁、拌粿条、粿条卷、牛杂粿条、炒粿条、牛肉丸、沙茶粿、鼠壳粿、蚝烙、芝麻茶/杏仁茶、番薯饼等等基本上都可以在牌坊街以及牌坊街叉出去的热闹小街上找到。
     section.diary#macao
       pre
         h3 澳门一日游路线参考
         img(src="../images/plain/macao-1.png")
         span.text 前一天先到珠海，在珠海，搭99路公交车在日华花园下，到珠海V客海景青年旅舍（情侣南路288号海湾雅苑2204房）住下。当天游玩一下附近的情侣路，或者去拱北商圈逛逛，在那边兑换一下澳门币或者港币
         span.text 第二天早上，搭99路公交车，于拱北口岸总站下车。过关入境。 行程安排：大三巴牌坊——澳门博物馆——威尼斯人——龙环葡韵——官也街
         img(src="../images/plain/macao-2.png")
         span.text 从关闸口岸出来，根据指引去巴士总站(在地下的)，搭3号车去新马路 (每位上车澳门币3.2元),过了十六浦下车就是新马路。一路上看看路标或者问路就可以到大三巴。
         img(src="../images/plain/macao-3.png")
         span.text 根据路标指引，大三巴旁边过去就是澳门博物馆。
         img(src="../images/plain/macao-4.png")
         span.text 博物馆出来后，从大三巴走到新葡京（葡京，金沙，永利都在一起），沿途玩玩，拍照，然后坐26A直接到威尼斯人，需澳门币6.4。
         img(src="../images/plain/macao-5.png")
         span.text 威尼斯人出来右走过天桥，一直走，根据路标到龙环葡韵。
         img(src="../images/plain/macao-6.png")
         span.text 从龙环葡韵出来，按路标指引到官也街。（到官也街推荐买“晃记饼家”的特产，贴近学生的消费水平，好吃实惠） 最后搭乘任意一条写着“关闸”站的公交车回去。
     section.diary#tj
       pre
         h3 天津文艺一日游
         img(src="../images/plain/tj-1.png")
         h4.title 意式风情街
         span.text 曾是天津近代史上意大利租界地的中心区，是亚洲唯一，也是我国国内最大的意大利历史风貌建筑群。推荐游览回力球场、袁世凯宅邸、一宫、曹禺故居、意大利兵营、梁启超旧宅及“饮冰室”。这里很适合拍照，处处是景！
         img(src="../images/plain/tj-2.png")
         span.text 游览1小时左右，在大沽桥站乘坐901，在滨江道站下车，来到第二个景点
         h4.title 滨江道
         span.text 大型商场比较多，打折品也比较多，这里还有特色小吃街，狗不理包子
         img(src="../images/plain/tj-3.png")
         span.text 中午可以在滨江道品味一下狗不理包子。然后沿着滨江路步行即可再来到西开教堂
         h4.title 西开教堂
         span.text 外观优美，地方很好。感觉很神圣的，教徒的很虔诚的。教堂大气庄重，历史比较悠久，而且是典型的法国罗曼式建筑造型。
         img(src="../images/plain/tj-4.png")
         span.text 在滨江道站乘坐657,632或678路，在香港路（平安大厦）站下车，来到第四个景点
         h4.title 五大道
         span.text 五大道可以说是天津最有特色的景区，街道干净，建筑都很美，保存得很完好，而且有浓郁的历史气息和异域的风情，坐马车也很有意境。
         img(src="../images/plain/tj-5.png")
         span.text 沿着五大道步行来到小白楼
         h4.title 小白楼
         span.text 天津“小白楼”，地域不算大，但名气不如不仅天津人都熟悉，而且连外地人也知道天津有个小白楼，甚至一些外国人来了也要到哪里去寻找昔日的梦境。小白楼地名的由来，是因为原来在这里有一个外墙涂白色的二楼酒吧，当时这一地区尚无其正式地名，当地居民便以这一独特白色小楼为标志，约定俗成地称这一地区为小白楼。
         img(src="../images/plain/tj-6.png")
         span.text 在小营门站乘坐652（652小圈）路，在永乐桥站下车，来到天津之眼
         h4.title 天津之眼
         span.text 天津之眼是天津的标志，也是世界上唯一建在桥上的摩天轮，坐在摩天轮上可以俯瞰天津。夜景真的非常美，从外面看着就很壮观。但是人太多，需要排队进场，而且门票也有点贵。
         img(src="../images/plain/tj-7.png")
     section.diary#family
       pre
         h3 亲子游之广州一日游——行程规划分享
         | 客户：
         | 小吴：珠海某高校大学生
         | 小吴母亲
         | 要求：
         span.text 母女二人到广州一日游，9点出发，前往1920德国餐厅品尝德国菜、品尝东南亚菜以及逛龙猫宠物店，当日来回。
         | 备注：
         span.text 提前3天买好二人珠海——广州南往返高铁票，并提前一天前往城轨珠海站取票。
         | 行程安排：
         span.text 9：30出发到珠海站，
         span.text 9：45入闸，
         span.text 10：00开车，
         span.text 11：10到南站，出站后下负一层坐地铁2号线，
         span.text 12：00到达1920餐厅，
         span.text 12：00-1：30午餐，
         span.text 1：30点去北京路，在“海珠广场”站坐地铁2号线，1站到“公园前”站，步行到北京路步行街（沿途可能有围巾店）
         span.text 2：00-5：00逛街，
         span.text 5点出发去大头虾吃晚饭
         span.text 5：30-6：30晚餐，6：40前一定要出发去地铁站
         span.text 步行到“公园前”站坐地铁2号线到“广州南站”，坐40min
         span.text 7：30到广州南站，过安检，进闸
         span.tips
           |Tips: 高铁开车前3分钟停止入闸，前15分钟开始检票。
           |广州南站地铁买票和高铁安检人比较多。
     section.diary#gz
       pre
         h3 闺蜜游之广州四日美食之旅——行程规划分享
         |客户：
         |小因：广外大二学生
         |小亭：大二学生，住珠海市
         |时间：寒假伊始
         |要求：
         span.text 小亭放假后先从学校回珠海，在从珠海到广州，住小因宿舍，最后一天两人一起回珠海。 吃广州传统美食以及外国菜，大餐安排在中午，晚餐简单即可。可早起，但晚上不能太晚回广外，顺带逛一逛街。 德国餐厅，印尼餐厅，中华广场 陈氏盲公丸，荔湾区或北京路附近的糖水甜品和小吃，去大学城。
         | 备注：
         span.text 提前3天定好小亭珠海——广州南往返的高铁票、小因广州南——珠海的高铁票。
         span.tips
           |Tips: 高铁开车前3分钟停止入闸，前15分钟开始检票。
     section.diary#bj
       pre
