//
   Created by levy on 16/3/19.
extends layout
block article
  section#customize
    div.form-wrapper
      h2 开启极致专属之旅
      span 就是如此简单
      form
        div.first-step
          div.form-group
            label(for="name")  姓名
            input(id="name" placeholder="李先生或李小姐").form-control
          div.form-group
            label(for="when") 什么时候出发
            input(id="when" placeholder="9:00~18:00").form-control
          div.form-group
            label(for="days") 玩几天
            input(id="days" placeholder="天数是").form-control
          div.form-group
            label(for="who") 和谁去
            input(id="who" placeholder="小伙伴是").form-control
          div.form-group
            label(for="where") 去哪儿
            input(id="where" placeholder="目的地").form-control
          button(type="button").btn.btn-success.btn-lg 下一步
        div.next-step
          div.form-group
            label(for="money") 大概预算
            input(id="money" placeholder="500～5000元").form-control
          div.form-group
            label.purpose 侧重目的
          div.table-view
            div.table-cell
              input(type="radio" id="eat" name="purpose")
              label(for="eat") 民以食为天
            div.table-cell
              input(type="radio" id="travel" name="purpose")
              label(for="travel") 游山玩水
            div.table-cell
              input(type="radio" id="love" name="purpose")
              label(for="love") 创意告白求婚
          div.form-group
            textarea(placeholder="填写需要补充说明的需求")
          button(type="button").btn.btn-success.btn-lg 开启我的专属之旅
