//
   Created by levy on 16/3/19.
extends layout
block article
   article.container#footprint
     //section
       h2 say
       p.lead something
     section.row#gallery
       div.col-lg-4
         h3 北京之旅
         a.btn(href="#bj"): img.thumbnail(src="../images/footprint/bj-1.png")
       div.col-lg-4
         h3 广州美食
         a.btn(href="#gz"): img.thumbnail(src="../images/footprint/gz-1.png")
       div.col-lg-4
         h3 潮州观桥
         a.btn(href="#cz"): img.thumbnail(src="../images/footprint/cz-1.png")

     section#bj.diary
       pre
         h3 北京欢迎我们
         h4.title Day1:
         span.text 酒店很舒服，自助早餐也很丰盛，吃早餐的时候还看见了不少外国人。特意去看了一下价钱，一晚也是挺贵的，所以报旅行社的自由行也是挺划算的。酒店门口就是地铁站，很方便。
         span.text 孔庙和雍和宫是典型的北京四合院建筑，充满了孔学气息。游览内容比较简单，昨晚很晚睡，比较累，也没什么精力仔细研究展馆的文物。
         img(src="../images/footprint/bj-2.png")
         span.text 坐地铁去了隆福寺。地方比较小，很容易就找到馄饨侯。吃了酸菜馄饨，酸菜汤配着肉馅馄饨，清爽解腻。馄饨侯隔壁就是丰年灌肠。第一次尝鲜，灌肠其实就是糯米灌入肠，切块油炸，蘸蒜蓉汁吃。尝鲜还可以，吃多了会腻。
         span.text 下午是今天的重头戏——南锣鼓巷。这里超有北京胡同的气息。虽然主干道上游客比较多，但也因此有不少好吃的。我们往横向的一些小胡同走去，那里没什么游客，能更好的拍出胡同建筑的细节，也更能安静的感受北京胡同。
         span.text 钟鼓楼中的鼓楼，五点左右在楼上有大鼓表演，十分震撼。
         img(src="../images/footprint/bj-3.png")
         span.text 从钟鼓楼到后海，要经过烟袋斜街，那附近有一家比较大的稻香村，除了糕点之外还有熟食。这家稻香村跟景点附近的稻香村不同，这家价格比较实惠，像是当地居民也常来的店。
         span.text 晚上在后海附近逛，看到不少人在滑冰。我们在这边喝了瓷罐酸奶，很浓郁。去尝了爆肚，麻味比较重，个人吃不习惯。
         h4.title Day2:
         span.text 早上赖了一下床，出门晚了，到达人民大会堂前面的广场的时候，已经挤不进去了……还好前排观众都会拿着自拍杆和手机拍录像，于是我们在现场看了升旗的现场直播……
         img(src="../images/footprint/bj-4.png")
         span.text 在广场上拍完照后，我们进入故宫。建议去门口租讲解器（一人一部，每一部里面都有王刚版、粤语版等等的讲解版本）。故宫建筑真的超棒！之前一直只是在电视里看到，现在亲身走在皇宫宫墙的夹道中，感觉像在拍电视剧一样，妙不可言！除了建筑，里面还有各种文物展览，质量都非常高。
         img(src="../images/footprint/bj-5.png")
         span.text 中午在故宫里吃了昨晚在稻香村买的糕点和熟食当午餐（稻香村好好吃~我们决定离开北京之前再去一次稻香村）。
         span.text 完整的游览完故宫之后，大概是下午3点。从故宫北门出去，过马路就是景山公园。山不高，登上去可以俯瞰故宫全貌，气势磅礴！可以4、5点钟的时候已接近太阳落山的时间，拍照有些背光
         h4.title Day3:
         span.text 抵达颐和园的时候还算早，所以人比较少，拍照也比较好看~园内有老人家在健身跳舞，周围是苍翠挺拔的青松，遒劲之意满园。颐和园是慈禧拜佛的地方。我们向上攀登，见到了华美的佛殿与佛教塑像。又沿着路向下走，依湖而建的岸堤有不少游人，周围的亭台楼阁也是精致如昔。
         img(src="../images/footprint/bj-6.png")
         span.text 颐和园相较于圆明园更小，因此我们很快离开了颐和园，赶往庆丰包子铺吃午餐，要为下午的圆明园参观留出更多的时间。
         span.text 一夜爆红的庆丰包子铺是北京很常见的连锁店，因此店内不存在需要排队的状况。我们点了几两包子和一碗炒肝。包子无论是素馅还是肉馅都很好吃，炒肝（煮猪肝，淀粉勾芡）也很合口味。午饭后我们马上前往圆明园。两个园区相距较近。
         span.text 圆明园很大，非节假日游人也比较少，加之天气寒冷，园区看起来一片荒凉，特别是走到被战争摧毁的建筑遗迹之处时，更觉悲凉，也为这些曾经辉煌的建筑而感到惋惜。圆明园有很多都是遗址，残存的石柱或重建的建筑确实没有什么观赏性，但眼前这些没有生命力的废墟，却深深地触动了心灵——繁华如梦，国弱被欺，历史的悲剧万不可再度上演。圆明园很大，直到闭园我们也没能全部走完。
         img(src="../images/footprint/bj-7.png")
         span.text 晚上去了护国寺小吃店吃驴打滚、豆汁等北京小吃。驴打滚只有淡淡的甜味，很好吃，跟外面包装好的零食完全不同。回去的路上决定要去找一家实惠的稻香村买手信，可惜我们去到酒店附近的稻香村时，已经过了晚上8点，稻香村关门了，只好明早再来。
         h4.title Day4:
         span.text 既然决定要去稻香村，我们就放弃了去天坛。早上去了稻香村买手信，回酒店收拾好行李退房后，我们出发去吃烤鸭~我们找了一家有团购的、不太远的烤鸭。两个女生吃半只其实就够了，然而团购一只更优惠，于是我们就打包当作今晚晚餐~
         span.text 吃完烤鸭我们去了国家博物馆。国家博物馆很大，展馆以中国文物为主，主题多样，展品精致，值得一看！
         img(src="../images/footprint/bj-8.png")

     section#gz.diary
       pre
         h3 和闺蜜的广州吃货旅
         h4.title Day1: 1920德国餐厅——北京路——中华广场
         span.text 因为珠海并没有德国餐厅，所以想在广州品尝一下德国菜。尽管之前听闻德国菜是欧洲菜系中较为难吃的，但还是希望能尝个鲜。沿江中路的1920德国餐厅，环境很好，有露天座位，室内装饰也很棒，有朴实古典的气息。难得来一次，当然要点餐厅的招牌菜，可惜我们只有两个人，只能点一份德国咸猪手和一份香肠拼盘（其实好多主食，比如意面什么的，看起来都好好吃）。本来以为，像这种比较高档的西餐厅，菜品都比较“精致”（其实就是分量比较少），没想到，上来一盘咸猪手那么大份。咸猪手配有土豆泥、酸椰菜等，土豆泥软滑饱腹，酸椰菜配着猪手吃，很解腻。香肠拼盘有三种香肠，配有黑麦面包、土豆泥和酸黄瓜。拼盘里有芝士香肠，很特别，也很好吃。1920德国餐厅性价比其实蛮高的，虽然价格对学生来说偏高，但菜品的份量都蛮大的，而且出品质量很好。
         span.text 享受完德国大餐，我们去了北京路逛街。虽然不是周末，但北京路的人也是蛮多的，沿路除了各种服装店、书店、精品店，还有很多小吃，然而我们吃不下，这些小吃也比较普遍，没什么广州特色。路过银记肠粉、宝华面家等广州特色美食，也因胃容量不足而无法品尝，于是下定决心——下次再来！
         span.text 之前在地铁上看到一个“陈氏盲公丸”的广告，感觉挺有特色的，就想去试试。安排在晚上，两个人点了一碗面，一个甜品，分量还是够得，毕竟中午吃得饱。可惜，非专业吃货，吃不出广告里说的特别之处，不过肉丸还是比较新鲜的，甜品也很有岭南特色，好吃。
         img(src="../images/footprint/gz-2.png")
         h4.title Day2: 广外——莲香楼——上下九——广外
         span.text 来到广州，当然要去喝正宗的早茶啦~之前在有考虑莲香楼、陶陶居、泮溪酒家等传统的广州著名早茶地点，但毕竟时间有限，这次只能去一家，剩下的以后再去。 10点多到了莲香楼，人不多，楼面坐着的有不少是大叔大妈、爷爷奶奶。一张小桌，三两老人，四五蒸笼，一壶茶，一份报纸。此情此景，一种广州繁华街市中悠然自得的生活情趣油然而生，“一盅两件”的早茶内涵被这种慢节奏的享受诠释了。说回主题——吃，莲香楼保留了传统的“点心车”经营方式，每桌客人自己拿点心卡到点心车前挑选点心——蒸点、煎炸小点都在点心车周围，而煮类，如青菜、面等就在另外一处窗口。这次吃都最有趣的是墨鱼烧麦，烧麦皮由墨鱼汁做成，黑黑的，里面的肉则用了墨鱼肉，虽然颜色有点奇葩，但墨鱼味很香，肉也很弹牙。其他传统早茶点心也很好吃，不愧是莲香楼！而且价位也适中。
         span.text 到莲香楼除了要喝早茶，还要去莲香楼的饼店买各种点心——莲蓉饼、老公饼、核桃酥……带走回去当早餐~
         span.text 买完点心就是在上下九逛街啦，这里也是有各种服装店、小吃等。定制团队推荐我们去吃上过《舌尖上的中国》的猪脚姜，在路边一个巷子口，一个阿姨在卖，7元一碗，很入味，连姜都好好吃，不会辣。然后我们继续边逛边觅食。接着去了南信牛奶甜品专家，尝了牛三鲜和双皮奶，牛三鲜味道有点重，双皮奶醇厚香滑。边逛边吃就逛到了5点。按照路线回到广外，在北门的麻辣烫补充了一下膳食纤维——吃烫青菜，感觉一天圆满了！
         img(src="../images/footprint/gz-3.png")
         h4.title Day3: 广外——香兰印尼餐厅——广州动物园——广外
         span.text 这次来广州就是要品尝珠海没有的外国菜，于是，定制团队推荐了香兰印尼餐厅。因为两个女生吃的不多，所以定制团队把大餐都安排在了中午，这样我们吃完还能逛街消化。我们差不多11:30就到了香兰印尼餐厅，餐厅没有什么人，我们慢悠悠的点餐，静静的享受第一次吃印尼菜。我们点了椰汁糕、巴东牛肉、椰汁饭、黄姜饭、焗蔬菜。椰汁糕椰汁味够浓重，甜度适中。巴东牛肉偏甜（我喜欢），但是酱汁用来送饭还是很棒的，牛肉也还行。椰汁饭和黄姜饭是各点一小碗，不甜，吃不出很重的椰汁味和黄姜味，但香气扑鼻而来。黄姜饭应该是放了鸡油，超级香。
         span.text 吃完一顿大餐，两个很撑的女生就闲着没事去了餐厅旁边的广州动物园。记得五六岁的时候来过一次，多年后再来，很多东西已经不同了。广州动物园虽然没有长隆那么大（票价就比长隆便宜超级超级多啊），但里面的动物还是蛮多的，飞禽走兽，种类也都还比较齐全，可谓性价比极高。
         img(src="../images/footprint/gz-4.png")
         h4.title Day4: 广外——大学城——广外——珠海
         span.text 大学生到广州怎么能不去看看大学城呢？（虽然它只是一个孤岛）逛了一下广外南校区，我们就直奔大学城的商业中心之一——贝岗新天地。新天地的商铺也是蛮多的，有购物的、修电脑的，当然还有吃的。我们在新天地旁边的街上走了一圈，没看到特别想吃的，就上去新天地三楼——各种吃的真是要逼死选择困难症了……
         span.text 吃完东西，随便逛了逛，就到点回广外——拿行李——坐城轨回家啦！
         img(src="../images/footprint/gz-5.png")

     section#cz.diary
       pre
         h3 我们在潮州看桥
         span.text
           |潮州真的是个好吃又好玩的地方，尤其是吃的特别多，像我和闺蜜两个人一天游玩下来真的感觉一个胃很不够装。
         span.text
           |极致设计的旅程总体上还是蛮不错的，在关于吃上的挺细致的，我们俩这趟就是吃货游，确实如推荐上所讲，牌坊街上有许多的吃的，吃了推荐的甘草水果，觉得草莓的最好吃，酸酸甜甜的解腻又爽口。也试了那个肠粉，觉得跟广式的肠粉很不一样的地方是酱，好像是花生酱芝麻酱之类的混合调制的，吃起来特别香。然后我们真的走了很久，终于找到了第三家胡荣泉，鸭母捻其实就是汤圆，我们试了第二家和第三家的鸭母捻，个人喜欢第二家的，不会太甜而且便宜些。不过春卷真的特别好吃，皮薄而脆，馅料很多。吃了咸水粿和笋粿，也不错吃，就是我这个喜欢吃清淡点的人觉得里面油多了点，有一点腻，不过蛮香的。
         img(src="../images/footprint/cz-2.png")
         span.text
           |镇记牛杂人确实蛮多了，但既然来了，就等着，两个人聊聊天其实时间也蛮容易过的，十几个人后终于叫到我们了。料挺足的，汤底也很新鲜好喝，牛肉丸跟在别的地方吃到的不一样，应该也是正宗的，挺好吃的，一天下来吃了很多，好撑，有好些吃的没能吃到，只能下次了。
         span.text
           |至于景点，滨江长廊感觉是一条当地居民休闲散步的地方，因为早上八九点的时候看到好些老人，孩子在散步、玩耍、钓鱼，风景挺美的，沿江走一边走一边可以看到广济桥。广济桥对面是广济楼，有楼梯爬上去，但是不能进去，只能在围栏外拍照纪念。
         img(src="../images/footprint/cz-3.png")
         span.text
           |潮州当地民谣唱到“到潮不到桥，枉费走一遭”。桥上很多个亭台楼阁，不过感觉都很像，印象深刻的是24艘木船连起来，看着真的挺有趣，而且本来以为会摇摇晃晃，应该是固定得好，还蛮稳的。后来去了韩文公祠，觉得潮州人民很爱戴韩愈，感谢他为潮州做的许多事情，所以母亲河取名韩江。
         span.text
           |去了牌坊街，真的是有好多好多的牌坊，因为照不完，跟闺蜜就决定照几个标志性的。听说有个状元牌坊，我们猜一定很气派，因为看到榜眼的牌坊都有琉璃瓦装饰，然而走到很后面，快到第二家胡荣泉才找到，结果是，十分的，朴素！没有琉璃瓦，柱子也少，状元两个字也没有榜眼大，好蒙。不过一路上一个又一个牌坊蛮气派的，两边是像在广州看到的骑楼建筑，还有好多小商铺，卖特产的，开咖啡厅的，各种小吃摊档都有，很热闹。
         img(src="../images/footprint/cz-4.png")
         span.text
           |开元寺去的时候发现正门是不开的，大家都从右边的侧门进去，进去后发现雕梁画栋的，尤其是屋顶的各种精雕细琢，真的很漂亮。最后这么走下来一天真的太累了，就回去，没有去西湖公园了。
         img(src="../images/footprint/cz-5.png")
         span.text
           |感觉潮州因为是小城市吧，物价都蛮便宜的，比起广州，而且还有特色的绿色人力三轮车，敞篷环保实惠。不过就是交通还是蛮乱的，路上走着，过马路时要两边小心，因为会有不时闯出的三轮车，摩托车，自行车。


