//
   Created by levy on 16/3/19.
extends layout
block article
  article#index
    section
      img.large-img(src="../images/index/1.jpg")
      span.img-text 极致之旅，订制你的专属旅行
    section
        img.large-img(src="../images/index/2.jpg")
        span.img-text 攻略看不完？不用担心，交给我们
          p.second-text 我们有专属团队为您筛选路线，制定方案
    section
        img.large-img(src="../images/index/3.jpg")
        span.img-text 世界那么大，我带你去看
          p.second-text 特色导游服务，带您畅游各地
    section
        img.large-img(src="../images/index/4.jpg")
        span.img-text 想你所想，玩你想玩
          p.second-text 不必跟团玩，提出您的个性要求，我们为您量身定做专属之旅

