doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 极致之旅
    link(rel="stylesheet" href="../css/bootstrap.min.css")
    link(rel="stylesheet" href="../css/app.css")
    //注意IE hack 在 jade 中的写法
    <!--[if lt IE 9]>
    |<script>
    |var e = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(',');
    |for (var i = 0; i < e.length; i++) {
    |document.createElement(e[i]); }
    |</script>
    <![endif]-->
  body
    header
      h1.text-muted 极致之旅
      nav
        ul.nav.nav-justified
          li
            a(href="index.html") 首页
          li
            a(href="customize.html") 专属之旅
          li
            a(href="plain.html") 精品路线
          li
            a(href="footprint.html") 足迹点滴
          li
            a(href="about.html") 关于我们
    block article
    footer.container
      div.row
        div.col-lg-4
          |项目名: 私人订制旅游
        div.col-lg-4
          |公众号: 极乐and极致
        div.col-lg-4
          |邮箱: jizhizhilv@sina.com
    aside#fixed-tools
      a.qrcode-btn: img(src="http://uniqueway-assets.b0.upaiyun.com/assets/widget_qricon-9b5641fc3ab228ee0ae1e02ea43a268e.png") 
      div.qrcode-wrapper
        img.qrcode(src="../images/qrcode.jpg")
        p 扫码关注
      a#back2top: img(src="http://uniqueway-assets.b0.upaiyun.com/assets/backtotop_icon-fbf433c57fa77c43d0929d2db9534459.png")
    script(src="../js/jquery.min.js")
    script(src="../js/app.js")
