//
   Created by levy on 16/3/19.
extends layout
block article
  article.container.plain
    section.row
      div.col-lg-4
        h3 潮州一日游
        a.btn(href="article.html#cz"): img.thumbnail(src="../images/plain/cz-1.png")
      div.col-lg-4
        h3 澳门一日游
        a.btn(href="article.html#macao"): img.thumbnail(src="../images/plain/macao-1.png")
      div.col-lg-4
        h3 天津文艺游
        a.btn(href="article.html#tj"): img.thumbnail(src="../images/plain/tj-1.png")
    section.row
      div.col-lg-6
        h3 广州亲子游
        a.btn(href="article.html#family"): img.thumbnail(src="../images/plain/family-1.png")
      div.col-lg-6
        h3 广州闺蜜游
        a.btn(href="article.html#gz"): img.thumbnail(src="../images/plain/gz-1.png")
      //div.col-lg-4
        h3 北京闺蜜游
        a.btn(href="article.html#bj"): img.thumbnail(src="../images/plain/bj-1.png")


